.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
  align-self: start;
  padding: 40px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 7s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: whitesmoke;
}
.ToDos {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #282c34;
  color: whitesmoke;

}
.ToDo {
  min-height: 300px;
  max-height: 400px;
  min-width: 300px;
  max-width: 400px;
  background-color: teal;
  margin: 10px;
  padding: 5px;
  border-radius: 20px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
